<ul class="nav side-menu">
    <li>
        <a href="/"><i class="fa fa-home"></i> Menü </a>
    </li>
    <li><a href="@Url.Action("Index","Patients")"><i class="fa fa-edit"></i> Hasta</a></li>
    <li><a href="@Url.Action("Index","Appointments")"><i class="fa fa-edit"></i> Randevu</a></li>
    <li><a href="@Url.Action("Index","Doctors")"><i class="fa fa-edit"></i> Doktorlar</a></li>
    <li> <a href="@Url.Action("Index","Account")"><i class="fa fa-edit"></i> Kullanıcılar </a> </li>

    <li>
        <a><i class="fa fa-bar-chart-o"></i> Rapor <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("DaillyAppointments","Reports")">Günlük Randevular</a></li>
            <li><a href="@Url.Action("Appointments","Reports")">Randevular </a></li>
            <li><a href="@Url.Action("Attandences","Reports")">Bakım </a></li>

        </ul>
    </li>
</ul>

